################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Authentication/obj
/Authentication/bin/Debug/net7.0
/Authentication/Authentication.csproj.user
